#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  body {
    margin: 0;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
  
  .container{
    max-width: 100%;
    overflow: hidden;
  }
.hero{
  
  height:600px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  z-Index:-1;
  

  
}
.heroBody{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 50%;
  margin-top:20%;
  margin-left: 10%;
}

.overlay{
  background: rgba(0, 0, 0, .6);
}




/* section2 */
.sectionTwo{
  padding-top:50px;
}
.section2Title{
  color:black;
  font-size:25px;
}
.section2Link{
  text-decoration:none;
  color:black;
  font-size:12px;
}